/.idea/
/shop5-systemcheck-2-0-1.zip
/shop-v5-1-2.zip
/install/
/includes/vendor/
/media/image/
/media/video/
/templates_c/NOVA/
/plugins/jtl_filterdemo/
/plugins/jtl_paypal/
/plugins/jtl_paypal-master.zip
/admin/templates_c/
