.opc-ImageSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  text-align: center;
  color: #5cbcf6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;

  &.opc-ImageSlider-with-image {
    background-size: cover;
    background-position: center;
    height: 100px;
    color: #fff;

    > div {
      text-shadow: 1px 1px 4px #000;
    }
  }

  > div {
    font-size: 14px;
  }

  svg {
    vertical-align: middle;
    margin-right: 6px;
  }
}