<Files *.php>
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Deny,Allow
        Deny from all
    </IfModule>
</Files>

<Files uploads_cb.php>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Allow from all
    </IfModule>
</Files>

<IfModule mod_security.c>
   SecFilterEngine On
   SecFilterSelective "REQUEST_URI" "/includes/ext/uploads_cb.php" "allow,nolog"
</IfModule>